aws-cfn-bootstrap==1.4
awscli==1.11.132
Babel==2.9.1
backports.ssl-match-hostname==3.4.0.2
boto==2.42.0
boto3==1.4.7
botocore==1.7.25
chardet==2.0.1
cloud-init-gen==1.2.0
colorama==0.2.5
configobj==5.0.9
docutils==0.11
ecdsa==0.13.3
futures==3.0.3
gyp==0.1
iniparse==0.3.1
Jinja2==3.1.4
jmespath==0.9.2
jsonpatch==1.2
jsonpointer==1.0
kitchen==1.1.1
lockfile==0.8
MarkupSafe==0.11
paramiko==2.10.1
ply==3.4
pyasn1==0.1.7
pycurl==7.19.0
pygpgme==0.3
pyliblzma==0.5.3
pystache==0.5.3
python-daemon==1.5.2
python-dateutil==2.1
pyxattr==0.5.0
PyYAML==5.4
requests==2.32.2
rsa==4.7
s3transfer==0.1.11
simplejson==3.6.5
six==1.8.0
urlgrabber==3.10
urllib3==1.26.19
virtualenv==15.1.0
